<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/nav.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/profile.css') }}"
    />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <a href="/createForm">Create Contact</a>
      <a href="/contacts">View Contacts </a>
      <a href="/searchForm"> Search Contact By Name</a>
      <a href="/">main </a>
    </nav>

    <hr />
    <div class="profile">
      <p>Name : {{contact[1]}}</p>
      <p>Mobile no : {{contact[2]}}</p>
      <p>City: {{contact[3]}}</p>
      <p>Profession : {{contact[4]}}</p>
    </div>
  </body>
</html>
