<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/nav.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/showContacts.css') }}"
    />

    <title>Document</title>
  </head>
  <body>
    <nav>
      <a href="/createForm">Create Contact</a>
      <a href="/contacts">View Contacts </a>
      <a href="/searchForm"> Search Contact By Name</a>
      <a href="/">main </a>
    </nav>
    <div class="table">
      <table border="1px solid black">
        <thead>
          <th>Name</th>
          <th>Mobile Number</th>
          <th>City</th>
          <th>profession</th>
        </thead>
        <tbody>
          {% for contact in data%}
          <tr>
            <td>{{contact.name}}</td>
            <td>{{contact.mobile_no}}</td>
            <td>{{contact.city}}</td>
            <td>{{contact.profession}}</td>
          </tr>
          {%endfor%}
        </tbody>
      </table>
    </div>
  </body>
</html>
